

* {
	-webkit-font-smoothing: antialiased;
}

header {
	background: url(https://images.unsplash.com/photo-1475759697283-38cc56e4455a?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat top center;
	background-size: cover;
	height: 568px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
	position: absolute;
	display: none
}

.header-heading {
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
	color: #F64747;
	text-shadow: 2px 2px 4px #000000;
	margin: 20px 40px 0 40px;
}

.header-text {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
	margin: 20px 40px 0 40px;
}
