

* {
	-webkit-font-smoothing: antialiased;
}

/*------------Header styles------------*/

header {
	background: url(https://images.unsplash.com/photo-1470290449668-02dd93d9420a?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat top center;
	background-size: cover;
	height: 568px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
	position: absolute;
	display: none
}

.header-heading {
	font-family: 'Berkshire Swash', cursive;
	font-size: 48px;
	color: #fff;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	margin: 20px 40px 0 40px;
}

.header-text {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
	margin: 20px 40px 0 40px;
}

/*------------Services styles------------*/

.services {
}

.services h2 {
	font-family: 'Berkshire Swash', cursive;
	font-size: 28px;
	color: #F64747;
	text-align: center;
	margin: 30px 0 20px 0;
}

.inner-services {
	display: flex;
	flex-direction: column;
}

figure {
	text-align: center;
}

figure h3 {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 20px;
	color: #6C7A89;
	margin: 10px 0 20px 0;
}

figcaption {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	color: #6C7A89;
	margin: 0 10px 20px 10px;
}

/*------------Tesetimonial styles------------*/

.testimonial-wrapper {
	display: flex;
	flex-direction: column;
	background-color: #ECF0F1;
}

.testimonial-wrapper h2 {
	font-family: 'Berkshire Swash', cursive;
	font-size: 28px;
	color: #59ABE3;
	text-align: center;
	margin: 20px 10px 20px 10px;
}

.testimonial {
	margin: 30px 0 20px 0;
}

.testimonial p{
    color: #838181;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin: 0 10px 20px 10px;
    border-bottom: 1px solid #D2D7D3;
}

.testimonial img {
	margin-right: 5px;
}

.testimonial .client{
    margin-left: 20px;
}

.testimonial .client img.avatar{
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.testimonial .client .client_details{
    float: left;
}

.testimonial .client .client_details h4{
    color: #7b7979;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.testimonial .client .client_details h5{
    color: #7b7979;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}

/*------------Gallery styles------------*/

.gallery {
	display: flex;
	/*flex-direction: row; -- gawing row sa large viewport*/
	flex-direction: column;
}

.gallery div {
	height: 320px;
}

.gallery .pic1 {
	background: url(../img/chicken.jpg) no-repeat center center;
	background-size: cover;
}
.gallery .pic2 {
	background: url(../img/toast.jpg) no-repeat center center;
	background-size: cover;
}
.gallery .pic3 {
	background: url(../img/fries.jpg) no-repeat center center;
	background-size: cover;
}
.gallery .pic4 {
	background: url(../img/frappe.jpg) no-repeat center center;
	background-size: cover;
}
.gallery .pic5 {
	background: url(../img/carbonara.jpg) no-repeat center center;
	background-size: cover;
}
.gallery .pic6 {
	background: url(../img/pasta.jpg) no-repeat center center;
	background-size: cover;
}
.gallery .pic7 {
	background: url(../img/cake.jpg) no-repeat center center;
	background-size: cover;
}

/*group1, group2, group3 must have width: 33.33%; on large viewport*/
.group1 {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.group1-1 {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.group2 {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.group3 {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.gallery .pic1 {
	width: 50%;
}
.gallery .pic2 {
	width: 50%;
}
.gallery .pic3 {
	width: 100%;
}
.gallery .pic4 {
	width: 50%;
}
.gallery .pic5 {
	width: 50%;
}
.gallery .pic6 {
	width: 100%;
}
.gallery .pic7 {
	width: 100%;
}

/*------------Discover styles------------*/

.discover {
	background-color: #282f35;
    padding: 70px 0;
    text-align: center;
}

.shop-btn:hover, .shop-btn:visited, .shop-btn:link, .shop-btn:active
{
    text-decoration: none;
}

.shop-btn {
	border: solid 1px #bbb;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    padding: 15px 15px 15px 15px;
    letter-spacing: 3px;
    font-weight: 400;
}

/*------------Contact styles------------*/