

* {
	-webkit-font-smoothing: antialiased;
}

header {
	background: url(https://images.unsplash.com/photo-1470290449668-02dd93d9420a?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat top center;
	background-size: cover;
	height: 568px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
	position: absolute;
	display: none
}

.header-heading {
	font-family: 'Berkshire Swash', cursive;
	font-size: 48px;
	color: #fff;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	margin: 20px 40px 0 40px;
}

.header-text {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
	margin: 20px 40px 0 40px;
}
